---
layout: home
---

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
              <a class="italic bold no-underline h4 font-smoothing" href="{{ site.baseurl }}/index.html">English</a>
            </li>
            {% for my_page in site.pages_es %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
            <div class="clearfix mb-4 py-1">
              <p class="h3 lh-condensed font-smoothing">Edición digital de la relación de Antonio Pigafetta</p>
              <div class="col-1 sm-width-full border-top-thick"></div>
        </div>

      </header>

      <div class="container mx-auto px-1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Lehen_zirkumnabigazioa.gif" alt="navegacion gif"/>
      </div>


      <!-- Párrafo de portada -->
      <div class="container mx-auto px-2 py-2">
        <div class="py-2 mb-2 prose">
          <p>Un párrafo sobre la importancia del texto.</p>
          <p>Un párrafo acerca de las fuentes usadas para la edición.</p>
          <p>Esta edición digital es el resultado del proyecto <a href="http://commons.pelagios.org/2017/08/pelagios-commons-al-sur-extending-pelagios-to-the-south-of-the-american-continent-2/">Pelagios al Sur</a> llevado a cabo gracias al apoyo del consorcio <a href="http://commons.pelagios.org/">Pelagios Network</a>.</p>
        </div>
      </div><!-- Fin Párrafo de portada -->
        
    
    </div>

    {% include footer.html %}


