---
layout: home
---

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
              <a class="italic bold no-underline h4 font-smoothing" href="{{ site.baseurl }}/index.html">English</a>
            </li>
            {% for my_page in site.pages_es %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
            <div class="clearfix mb-4 py-1">
              <p class="h3 lh-condensed font-smoothing">Edición digital de la relación de Antonio Pigafetta</p>
              <div class="col-1 sm-width-full border-top-thick"></div>
        </div>

      </header>

      <div class="container mx-auto px-1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Lehen_zirkumnabigazioa.gif" alt="navegacion gif"/>
      </div>


      <!-- Párrafo de portada -->
      <div class="container mx-auto px-2 py-2">
        <div class="py-2 mb-2 prose">
          <p><i>Primer viaje alrededor del mundo</i> es una relación sobre el primer viaje de circunnavegación del mundo comandado por Fernando de Magallanes y Juan Sebastián Elcano. Esta relación se basa en el meticuloso diario de a bordo de Antonio Pigafetta, el cual reúne preciosa información --e inaugura mitos seminales-- acerca de la geografía, la flora y la fauna de las regiones visitadas, así como de las tradiciones y lenguas de las culturas contactadas.</p>
          <p>El texto de Pigafetta no sólo es la primera descripción escrita de la Patagonia y una de las más antiguas fuentes históricas acerca de las Filipinas sino que también puede ser leída como la épica de viaje de una tripulación aventurera, la tragedia de un capitán heroico y el relato legendario de sometimientos, alianzas y traiciones de diferentes pueblos nativos.</p>
          <p>Esta edición digital es el resultado de una estancia de investigación realizada gracias al apoyo de <a href="https://llilasbenson.utexas.edu/">LLILAS Benson Latin American Studies and Collections</a>.</p>
        </div>
      </div><!-- Fin Párrafo de portada -->
        
    
    </div>

    {% include footer.html %}


