---
layout: home
---

    <div>

      <header class="clearfix">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing mr-2">
            <!--  Pendiente generar sitio en inglés -->
            <!--  {% for my_page in site.pages_en %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %} -->
            <li class="inline-block">
              <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/toc">Digital edition</a>
            </li>
            <li class="inline-block">
              <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/lectura-dist">Distant reading</a>
            </li>
            <li class="inline-block">
              <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/recursos">Resources</a>
            </li>
            <li class="inline-block">
              <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/buscar">Search</a>
            </li>
            <li class="inline-block">
              <a class="align-middle no-underline h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/acerca-de">About</a>
            </li>
            <li class="inline-block">
              <a class="align-middle no-underline bold h4 mr-2 mr-lg-0 ml-lg-2 font-smoothing" href="{{ site.baseurl }}/es.html">Español</a>
            </li>
          </ul>
        </div>

      </header>

      <div class="hero-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/17/Lehen_zirkumnabigazioa.gif')">
        <div class="hero-text container mx-auto px-2 mt-4 mb-2 clearfix">
            <h1 class="h0 inline-block py-2 mt-4">First voyage around the world</h1>
            <p class="h3 lh-condensed font-smoothing">Digital edition of Antonio Pigafetta's <i>relación</i></p>
            <div class="clearfix mb-4 py-1">
              <div class="col-1 sm-width-full border-top-thick">
              </div>
            </div>
            <p class="text-right">The route of the first circumnavigation, Ane Urrutia</p>
        </div>
      </div>

      <div class="container mx-auto px-2 py-2">
        <div class="py-2 mb-2 prose">
          <p><i>First voyage around the world</i> is an account about the first European circumnavigation of the world commanded by Fernando de Magallanes and Juan Sebastián Elcano. This relación is based on Antonio Pigafetta's on board detailed journal which collects precious data --and introduces seminal myths-- about the geography, flora and fauna of the visited regions, and the traditions and languages of the encountered cultures.</p>
          <p>Pigafetta's text is not only the first written description of the Patagonia and one of the oldest historical sources about the Philipines but also the epic voyage of an adventurous crew, the tragedy of an heoric captain and the legendary depiction of submission, alliances and betrayals of different indigenous inhabitants.</p>
          <p>In this site, the reader will find the full text of Pigafetta's account in Spanish (see <a href="{{site.baseurl}}/toc">Digital edition</a>), maps and visualizations related to the text (see <a href="{{site.baseurl}}/lectura-dist">Distant reading</a>), vocabularies of the native people encountered by the author, bibliography and downloads, among other resources (see <a href="{{site.baseurl}}/recursos">Resources</a>).</p>
          <p>This digital edition by <a class="portfolio-link" data-toggle="modal" href="#portfolioModal">Nidia Hernández</a> was partly supported by a <a href="https://llilasbenson.utexas.edu/">LLILAS Benson Latin American Studies and Collections</a> Digital Scholarship Fellowship.</p>
        </div>
        <div style="text-align: center;"><a href="{{site.baseurl}}/toc"><button type="button" class="btn btn-warning">Start reading</button></a></div>
      </div>
        
      <div class="modal fade" id="portfolioModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Nidia Hernández</h4>
            </div>
            <div class="modal-body">
              <div style="text-align: center;">
              <img src="{{ site.baseurl }}/assets/img/pages/NH-photo.jpg" style="width: 50%; border-radius: 14px;border: 7px solid #222222;">
              </div>
              <p class="py-3">Nidia Hernández is a linguist (University of Buenos Aires) and a specialist in natural language processing (Paris 3/INALCO). She is a data engineer at CAICYT-CONICET (Buenos Aires, Argentina) where she develops resources for Digital Humanities projects and she also collaborates in the documentation, processing and analysis of endangered languages of South America. </p>
              <div class="mb-4">
                <ul class="list-reset right">
                  <li class="inline-block mr-1">
                    {% include twitter.html %}
                  </li>
                  <li class="inline-block mr-1">
                    {% include email.html %}
                  </li>
                  <li class="inline-block">
                    {% include github.html %}
                  </li>
                </ul>
              </div>              
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>  

    </div>
    
    <!-- Footer -->
    <div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
      <div class="border-top-thick">
        <p class="col-8 sm-width-full left py-2 mb-0">Maintained by <a class="text-accent" target="_blank" rel="noopener noreferrer" href="https://github.com/nidiah">{{ site.github_username }}</a>
          {% include github.html %}
        </p>
        <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
          <li class="inline-block mr-1">Comments about the edition
          </li>
          <li class="inline-block mr-1">
            {% include email.html %}
          </li>
          <li class="inline-block">
            {% include twitter.html %}
          </li>
        </ul>
      </div>

      <div class="mt-4 mb-2 clearfix" style="text-align: center;">
        <span><a class="no-underline-hover" target="_blank" rel="noopener noreferrer" href="http://www.caicyt-conicet.gov.ar/sitio/"><img src="{{site.baseurl}}/assets/img/hdlab-caicyt-logo-gris.jpg" style="max-width: 30%;" /></a>
        </span>
      </div>
      <div class="mb-4 clearfix" style="text-align: center;">
        <span> {{ site.time | date: '%Y' }} {{ site.title | escape }}. CC BY 4.0</span>
      </div>
    </div> <!-- End of footer-->

