/**
  * Reset some basic elements
*/

* {
 box-sizing: border-box !important;
 margin: 0; }

input,
select,
textarea,
button {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $color-body-text;
    background-color: $color-background;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

h1, .h1 { font-size: $h1-size; }
h2, .h2 { font-size: $h2-size; }
h3, .h3 { font-size: $h3-size; }
h4, .h4 { font-size: $h4-size; }
h5, .h5 { font-size: $h5-size; }
h6, .h6 { font-size: $h6-size; text-transform: uppercase; letter-spacing: 0.02em; }

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid currentColor;
}

a:hover {
  color: $color-primary-link;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* Map tooltip */
.map-balloon{
	color: #841212;
	border-bottom: none;
}

.map-balloon:hover{
	color: #841212;
	border-bottom: none;
	cursor: default;
}

/* Indice de secciones */
.link-index {
  font-size: 15px; 
  font-style: italic; 
}

/* El tamaño está definido en bootstrap.css */
.caret {
	color: #841212;
}


/* The hero image */
.hero-image {
  /* margin: 3.75rem auto 0; */
  /* min-height: 16.25rem; */
  height: 600px;
  width: 100%;
  position: relative;
  background-color: #dde5ea;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .4);
  }
}

.hero-text {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;

  h1 {
    color: White;
  }

}

.post-card{display:block;position:relative;width:100%;min-height:250px;border-radius:4px;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.08);box-shadow:0 1px 3px rgba(0,0,0,0.08);margin-bottom:2.25rem;border-bottom:0;-webkit-transition:-webkit-box-shadow .25s ease;transition:-webkit-box-shadow .25s ease;transition:box-shadow .25s ease;transition:box-shadow .25s ease, -webkit-box-shadow .25s ease}.post-card:hover,.post-card:focus{border-bottom:0;-webkit-box-shadow:0 2px 40px 0 rgba(153,155,168,0.3);box-shadow:0 2px 40px 0 rgba(153,155,168,0.3)}@media only screen and (min-width: 48em){.post-card{width:48.4375%;margin-right:3.125%}.post-card:last-of-type,.post-card:nth-child(2n+2){margin-right:0}}@media only screen and (min-width: 75em){.post-card{width:31.25%;margin-right:3.125%}.post-card:nth-child(2n+2){margin-right:3.125%}.post-card:last-of-type,.post-card:nth-child(3n+3){margin-right:0}}.post-card__label{position:absolute;top:1.5rem;left:1.5rem;z-index:2}.post-card__inner{display:block;position:relative;padding:1.875rem 1.25rem 0.625rem;width:100%;color:#838c8d;border-bottom:0}.post-card__inner:focus,.post-card__inner:hover{color:#838c8d;border-bottom:0}.post-card__header{margin-bottom:0.75rem}.post-card__meta{font-size:0.875rem}.post-card__thumb{margin:0;background:#fff;position:relative;overflow:hidden}.post-card__thumb::after{content:"";display:block;height:0;width:100%;padding-bottom:56.25%}.post-card__thumb>*{position:absolute;top:0;left:0;width:100%;height:100%;display:block}.label{padding:0px 10px;margin-bottom:1rem;display:inline-block;line-height:20px;font-size:.75rem;text-transform:uppercase;letter-spacing:1px;color:rgba(255,255,255,0.8);border:2px solid rgba(255,255,255,0.5);border-radius:100px;-webkit-transition:all 0.2s ease;transition:all 0.2s ease}.label:focus,.label:hover{color:#fff;background-color:#277cea;border:2px solid #277cea}.pagination{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:1.25rem auto}

.post-list{padding-top:2.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto}@media only screen and (min-width: 48em){.post-list{padding-top:5em}}.post-content{max-width:52.5rem;margin:0 auto;padding-top:2.5em}@media only screen and (min-width: 48em){.post-content{padding-top:5em}}.comments{padding:50px 0;background-color:#fafafa}.controls__inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:1.375rem 0 1.25rem;border-top:1px solid #ededed}

/* dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item{
  display:block;
  width:100%;
  padding:.25rem 1.5rem;
  clear:both;
  font-weight:400;
  color:#212529;
  text-align:inherit;
  white-space:nowrap;
  background-color:transparent;border:0}
.dropdown-item:hover{color:#0f4c9c}
  
.dropdown__link{
  color:#343851;
  position:relative;
  padding:.938rem 1rem;
  border:0;
  height:100%}
.dropdown__link:hover{color:#0f4c9c}


/* Narrative chart */
text {
  font-family: "ProximaNova",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

rect {
  fill: none;
  stroke: #000;
}

rect.aliados {
  fill: #8db600;
  stroke: #8db600;
}
rect.enemigos {
  fill: #0099ff;
  stroke: #0099ff;
}
rect.traidor {
  fill: #df2929;
  stroke: #df2929;
}
rect.explorador {
  fill: #000;
  stroke: #000;
}

circle.aliados {
  fill: #8db600;
}
circle.enemigos {
  fill: #0099ff;
}
circle.traidor {
  fill: #df2929;
}
circle.explorador {
  fill: #000;
}

path.aliados {
  fill: none;
  stroke: #8db600;
  stroke-width: 2;
}

path.enemigos {
  fill: none;
  stroke: #0099ff;
  stroke-width: 2;
}

path.traidor {
  fill: none;  
  stroke: #df2929;
  stroke-width: 2;
}
path.explorador {
  fill: none;  
  stroke: #000;
  stroke-width: 2;
}

.intro text:first-child {
  fill: #fff;
    stroke: #f9f9f9;
    stroke-width: 3;
}

.intro text+text {
    fill: #333;
}

.intro text+text.traidor {
    fill: #df2929;
}

.intro text+text.aliados {
    fill: #8db600;
}

.intro text+text.enemigos {
    fill: #0099ff;
}



