---
layout: page
title: Descargas
description: Texto integral disponible en diversos formatos
permalink: /descargas
featured-img: pages/bnf-1b10023015z-inicio-texto.jpeg
img-source: Manuscrito de Pigafetta, versión francesa de Fabre (Yale University Library)
---


<p class="mb-4">A continuación, el texto integral de Pigafetta disponible para descarga en diferentes formatos. Todas las descargas aquí disponibles se encuentran bajo licencia <a class="no-underline" rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

<div class="container mx-auto px-3">
  <!-- TEI -->
  <div class="py-1 mb-0 prose">
    <h2 class="h2 lh-condensed col-9 mb-2">
      {% include tag-icon.svg %}
      <a class="no-underline" title="" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.tei.xml"> TEI</a>
    </h2>
    <a class="h3 lh-condensed" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.tei.xml"><p>Texto de la relación y anotaciones estructurales y semánticas en formato TEI</p></a>
  </div>
  <!-- EPUB -->
  <div class="py-1 mb-0 prose">
    <h2 class="h2 lh-condensed col-9 mb-2">
    {% include book-icon.svg %}
    <a class="no-underline" title="" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.epub"> Epub</a>
    </h2>
    <a class="h3 lh-condensed" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.epub"><p>Relación de Pigafetta disponible para lectura en dispositivos electrónicos</p></a>
  </div>
  <!-- TXT -->
  <div class="py-1 mb-0 prose">
    <h2 class="h2 lh-condensed col-9 mb-2">
      {% include download-icon.svg %}
      <a class="no-underline" title="" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.txt"> txt</a>
    </h2>
    <a class="h3 lh-condensed" href="{{ site.baseurl }}/assets/downloads/pigafetta-primer-viaje.txt"><p>Texto bruto de la relación en español</p></a>
  </div>
</div>

